/*
 base.css用于存放每个网页都要用的基本样式
 */

@charset "UTF-8";

html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {margin: 0; padding: 0;}

/*去掉边框，去掉轮廓，比如输入框外边的蓝边框 */
ul, ol {
    list-style: none;
}

input {padding-top: 0; padding-bottom: 0;font-family: "SimSub","宋体";}

select, input {vertical-align: middle;}

select, input, textarea {font-size: 12px; margin: 0;}

textarea {resize: none;} /*禁止将文本输入框通过右下角拖拽来掉着调整大小*/

img {border: 0; vertical-align: middle;}

table {border-collapse: collapse;} /*将表格合并边框*/

body {
    font: 12px/150% Arial,Verdana, "\5b8b\4f53";
    color: #666;
    background: #fff;
}

/*清除浮动【推荐此种方式清除浮动】*/
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;/*用于IE6/7执行*/
}

/*这是一种比较流行的清除浮动的方式*/

a {color: #666; text-decoration: none;}
a:hover {color: #c81623;}

h1, h2, h3, h4, h5, h6 {text-decoration: none; font-weight: normal; font-size: 100%;}

/*设置删除线，斜体，强调标签*/
s,i,em {font-style: #c81623; text-decoration: none;}

.col-red {color: #c81613!important;}

/*公共类*/
.w {/*可视区*/
    width: 1210px;
    margin: 0 auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.al {
    text-align: left;
}

.ac {
    text-align: center;
}

.ar {
    text-align: right;
}

.hide {
    display: none;
}


.shortcut {
    height: 30px;
    line-height: 30px;
    background-color: white;
}

.dt,
.shortcut .fore {
    padding: 0 20px 0 10px;
    position: relative;
}

.dt i, .fore i {
    font: 400 15px/15px "宋体";
    position: absolute;
    top: 13px;
    right: 3px;
    height: 7px;
    overflow: hidden;
    width: 15px;
}

.dt s, .fore s {
    position: absolute;
    top: -8px;
    left: 0;
}

.fr li {
    float: left;
    padding: 0 10px;
}

.fr .line {
    width: 1px;
    height: 12px;
    background-color: #ddd;
    margin-top: 9px;
    padding: 0;
}

.shortcut .tel-jd {
    padding: 0 20px 0 25px;
}

.tel {
    position: adsolute;
    width: 15px;
    height: 20px;
    background-color: white;
    left: 5px;
    top: 5px;
}

/*搜索栏*/
.search-logo {
    float: left;
    width: 362px;
    height: 60px;
    padding: 20px 0;
}

.search-logo a{
    width: 270px;
    height: 60px;
    display: block;
    text-indent: -9999px;
    background-color: aquamarine;
    text-align: center;
}

.search-input {
    float: left;
    height: 36px;
    padding-top: 25px;
}

.search-input input {
    float: left;
    width: 450px;
    height: 32px;
    padding-left: 4px;
    font: 400 14px/32px "microsoft yahei";
    color: rgb(153, 153, 153);
    border: 2px solid #b61d1d;
    border-right: 0;
}

.search-input button {
    width: 82px;
    height: 36px;
    color: #fff;
    float: left;
    font: 400 16px/36px "微软雅黑";
    background-color: #B61D1D;
    cursor: pointer;
    /*cursor: pointer;          变成小手*/
    /*cursor: text;             变成光标*/
    /*cursor: move;             变成四角箭头*/
    /*cursor: default;          变成小白*/
}
.search-car {
    float: right;
    width: 96px;
    height: 34px;
    line-height: 34px;
    padding-left: 43px;
    position: relative;
    margin: 25px 65px 0 0;
    border: 1px solid #DFDFDF;
    background-color: #F9F9F9;
}
.icon1 {
    position: absolute;
    top: 9px;
    left: 18px;
    width: 18px;
    height: 16px;
    background-color: aquamarine;
}
.icon2 {
    position: absolute;
    right: 10px;
    color: #999;
    /*font-family: "SimSun";*/
    font: 13px/34px "SimSun";
}
.icon3 {
    position: absolute;
    top: -5px;
    /*left: 0;*/
    width: 16px;
    height: 14px;
    background-color: #C81623;
    line-height: 14px;
    text-align: center;
    color: #fff;
    border-radius: 7px 7px 7px 0;  /*画圆角矩形*/
}
.search-more {
    float: left;
    width: 530px;
    height: 28px;
    line-height: 28px;
}
.search-more a {
    margin-right: 8px;
}
/*search部分end*/